@import "../../styles/_shared.scss";

.container {
   @apply w-full h-full relative flex flex-col justify-start items-center gap-10;

   .addProductModal {
       @apply absolute self-end top-4 right-4;
   }

   .search {
       @apply mt-8;
       @extend .bottom-line-input;

       width: 500px;
       font-size: 2.5em;
   }

   .cards {
       @apply w-full flex-grow grid flex-wrap justify-center items-center gap-10 px-10;

       grid-template-columns: repeat(auto-fit, 300px);

       .card {
           @apply relative;

           width: 300px;
           height: 370px;

           .form {
                @apply h-full flex flex-col py-6 px-4 outline-none bg-white rounded-md overflow-y-auto;

                transition: all .3s ease;

                &.is-requesting {
                    filter:blur(0.1em);
                }

               .title {
                    @apply font-bold mb-3;

                    flex-basis: 30%;
                }

                .description {
                    @apply resize-none;

                    flex-basis: 100%;
                }

                .title,
                .description {
                    @apply p-1 border-2 border-transparent rounded-md outline-none resize-none;

                    &:hover:enabled {
                        @apply border-blue-300;
                    }

                    &:focus:enabled {
                        @apply border-blue-500;
                    }
                }    

                .buttonContainer {
                    @apply flex flex-row justify-between mt-4;
                }
            }

            .requesting {
                @apply absolute opacity-0;
    
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
    
                transition: all .3s ease;
    
                &.is-requesting {
                    @apply opacity-100;
                }
            }
        }
   }

   .pagination {
       @apply flex flex-row justify-center items-center gap-1 pb-4;

       .inverse {
           @apply w-28 px-6 rounded-3xl;
       }

       .bottom-line-input {
           @apply w-10 text-center text-lg;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number] {
            -moz-appearance: textfield;
        }
   }
}

.addProductContainer {
    @apply flex flex-col gap-5 p-4 pb-0;

    width: 400px;

    .title {
        @apply pl-4 pt-2 border-blue-100 rounded-md;

        min-height: 45px;
    }

    .description {
         @apply pl-4 pt-2 border-blue-100 rounded-md;

         min-height: 100px;
    }
    

    .title,
    .description {
        @apply border-2 outline-none;
        
        &:hover,
        &:focus {
            @apply border-blue-500;
        }
    }    

    .submit {
        @apply self-stretch;
     }
}