@import "../../styles/_shared.scss";

.container {
    @apply h-full flex flex-col justify-center items-center p-4;

    * {
        min-width: 350px;
    }

    .label {
        @apply mb-5;
    }

    .input {
        @apply block pl-4 py-2 my-1 outline-none border-2 border-blue-100 rounded-md;

        height: 45px;

        &:hover, 
        &:focus {
            @apply border-blue-500;
        }
    }

    .fieldValidationError,
    .error {
        @apply text-red-600;
    }

    .submit {
        @apply mt-4;
    }

    .requestInfoContainer {
        @apply h-10 mt-5;
    }

    .requesting,
    .error {
        @apply opacity-0;

        transition: opacity .5s ease;

        &.is-visible {
            @apply opacity-100;
        }
    }

    .requesting {
        width: 100px;
    }

    .error {
        @apply text-center;

        transform: translateY(-33px)
    }
}