@import "../../styles/_shared.scss";

.container {
    @apply fixed bottom-1 right-2;

    .info {
       @apply max-w-xs px-4 py-2 my-2 text-white;
       
       &.bad {
           @apply bg-red-400;
        }
        
       &.pending {
           @apply bg-yellow-400;
       }
       
       &.good {
           @apply bg-green-400;
       }
    }

    :global(.info-transition-enter) {
        opacity: 0;
        transform: translateY(-200%);
    }

    :global(.info-transition-enter-active) {
        opacity: 1;
        transform: translateY(0);
        transition: all .3s ease-out;
    }

    :global(.info-transition-enter-done) {
        opacity: 1;
        transform: translateY(0);
    }

    :global(.info-transition-exit) {
        opacity: 1;
        transform: translateY(0);
    }

    :global(.info-transition-exit-active) {
        opacity: 0;
        transform: translateY(100%);
        transition: all .3s ease-out;
    }
}